name: Development CI/CD

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: ['!main']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup NodeJs
        id: node-setup
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: 'yarn'
          registry-url: 'https://registry.npmjs.org'

      - name: Cache dependencies
        id: cache-deps
        uses: actions/cache@v2
        with:
          path: ./node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Audit
        continue-on-error: false
        run: yarn audit

      - name: Install dependencies
        if: steps.cache-deps.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile --ignore-scripts

      - name: Lint
        run: yarn lint

  dependabot-merge:
    name: Dependabot auto-merge

    runs-on: ubuntu-latest

    needs: ['build']

    steps:
      - uses: fastify/github-action-merge-dependabot@v2.7.1
        with:
          target: patch
          github-token: ${{ secrets.GITHUB_TOKEN }}
